# Dependencies
node_modules/
/.pnp
.pnp.js

# Production / Build Artifacts
dist/
build/
out/
.next/

# Testing
coverage/

# Logs
lines
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables (Keep your API keys secret!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.local

# IDEs and Text Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Metadata
.DS_Store
Thumbs.db

src/assets/images/uploads